@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 20px;
  font-family: "Robato", sans-serif;
  color: #414141;
  background-color: #c6d1e6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Robato", sans-serif;
  color: #181616;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.center {
  margin: 15px auto;
  text-align: center;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  margin: 15px auto;
  width: 300px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: rgb(227, 228, 234);
}

.feedback-form label {
  margin-bottom: 10px;
  font-weight: bold;
}

.feedback-form input,
.feedback-form textarea {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.feedback-form button {
  cursor: pointer;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  background-color: #0070f3;
  color: white;
  font-weight: bold;
}
